<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_messages %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>Agro - Map | Traçability</title>
{% include '_partials/css.html' %}
{% include '_partials/js.html' %}
<script>
	$(document).ready(function(){
		$("#PepiniereModal").modal('show');
	});
</script>
</head>
<body>

   
<div class="modal fade"  data-keyboard="false" data-backdrop="static" id="PepiniereModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

       <form method="post" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="modal-title text-center" id="exampleModalLabel" style="font-weight:bold; text-align: center">MODIFIER PEPINIERE {{ instance.site }} - {{ instance.ville }}</h4>
                                    <a href="{% url 'pepinieres' %}" ID="btnAnnuler" type="button" class="btn btn-danger pull-right" style="font-size:1.8vmin;margin-top: -25px">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </div>
                                <div class="panel-body">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>PROJET</label>
                                                {% render_field pepiForm.projet class="form-control" placeholder="Projet" %}
                                            </div>
                                            <div class="form-group">
                                                <label>REGION</label>
                                                {% render_field pepiForm.region class="form-control" placeholder="Région" %}
                                            </div>
                                            <div class="form-group">
                                                <label>VILLE</label>
                                                {% render_field pepiForm.ville class="form-control" placeholder="Ville" %}
                                            </div>
                                            <div class="form-group">
                                                <label>SITE / VILLAGE</label>
                                                {% render_field pepiForm.site class="form-control" placeholder="Site / Village" %}
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>LATITUDE</label>
                                                        {% render_field pepiForm.latitude class="form-control" placeholder="Latitude" %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>LONGITUDE</label>
                                                        {% render_field pepiForm.longitude  class="form-control" placeholder="Longitude" %}
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>CAMPAGNE</label>
                                                {% render_field pepiForm.campagne class="form-control" placeholder="Campagne" %}
                                            </div>
                                            <div class="form-group">
                                                <label>SUPERVISEUR</label>
                                                {% render_field pepiForm.superviseur class="form-control" placeholder="Nom et Prénoms Superviseur" %}
                                            </div>
                                            <div class="form-group">
                                                <label>CONTACTS SUPERVISEUR</label>
                                                {% render_field pepiForm.contacts_superviseur class="form-control" placeholder="Contacts Superviseur" %}
                                            </div>
                                            <div class="form-group">
                                                <label>TECHNICIEN</label>
                                                {% render_field pepiForm.technicien class="form-control" placeholder="Nom et Prénoms Technicien" %}
                                            </div>
                                            <div class="form-group">
                                                <label>CONTACTS TECHNICIEN</label>
                                                {% render_field pepiForm.contacts_technicien class="form-control" placeholder="Contacts Technicien" %}
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>SACHETS RECUS</label>
                                                {% render_field pepiForm.sachet_recus class="form-control" placeholder="Nombre Sachets Récu" %}
                                            </div>
                                            <div class="form-group">
                                                <label>NOMBRE PLANTS A PRODUIRE</label>
                                                {% render_field pepiForm.production_plant class="form-control" placeholder="Nbre plants à Produire" %}
                                            </div>
                                            <div class="form-group">
                                                <label>NOMBRE PLANTS PRODUITS</label>
                                                {% render_field pepiForm.production_realise class="form-control" placeholder="Nbre plants à Produire" %}
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>P. MATURE</label>
                                                        {% render_field pepiForm.plant_mature class="form-control" placeholder="Nbre plants à MAtures" %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>P. ENLEVES</label>
                                                        {% render_field pepiForm.plant_retire class="form-control" placeholder="Nbre plants à enlevés" %}
                                                    </div>
                                                </div>
                                            </div>
                                            


                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="panel-footer">
{#                                <Button ID="btnAnnuler" style="font-size:1.7vmin; width:100px" class="btn btn-default"  data-dismiss="modal" >Annuler</Button>#}
                                <input type="submit" name="btnValider" value="VALIDER" id="btnValider" class="btn btn-success btn-block" style="font-size:1.7vmin" />
                            </div>
                            </div>
                        </form>

    </div>
</div>
</body>
</html>